{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "htmlWhitespaceSensitivity": "ignore",
    "singleQuote": true,
    "bracketSameLine": true,
    "trailingComma": "none",
    "proseWrap": "always"
}
