
.register-card {
    width: 100%;
    max-width: 400px;
    }
  
    .password-field {
        position: relative;
  
    .toggle-password {
        position: absolute;
        bottom: 5px;
        right: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 1.25rem; 
    }

    .form-control {
        padding-right: 40px;
    }
  }
  