<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4 m-3 register-card">
      <h2 class="text-center mb-4">Rejestracja</h2>
      <form>
        <div class="form-group mb-3">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="Wprowadź e-mail" required>
        </div>
        <div class="form-group mb-3">
          <label for="username">Nazwa użytkownika</label>
          <input type="text" class="form-control" id="username" placeholder="Wprowadź nazwę użytkownika" required>
        </div>
        <div class="form-group mb-3 position-relative password-field">
          <label for="password">Hasło</label>
          <input 
            [type]="showPassword ? 'text' : 'password'" 
            class="form-control" 
            id="password" 
            placeholder="Wprowadź hasło" 
            required>
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"></i>
          </span>
        </div>
        <div class="form-group mb-4 position-relative password-field">
          <label for="confirmPassword">Powtórz hasło</label>
          <input 
            [type]="showConfirmPassword ? 'text' : 'password'" 
            class="form-control" 
            id="confirmPassword" 
            placeholder="Powtórz hasło" 
            required>
          <span class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
            <i [class]="showConfirmPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"></i>
          </span>
        </div>
        <button type="submit" class="btn btn-primary w-100">Zarejestruj się</button>
      </form>
    </div>
  </div>
  