.auth-form-card {
    width: 100%;
    max-width: 400px;
}

.password-field {
    position: relative;

    .toggle-password {
        position: absolute;
        top: 0px;
        right: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
}

input.ng-invalid.ng-touched {
    border: 1px solid rgb(220, 53, 69);
}
